:root{
  --primary-color:#e50914;  
  --dark-color:#141414;
}

*{

   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

body{
font-family: Arial, Helvetica, sans-serif;
-webkit-font-smoothing: antialiased;
background: black; 
color: #999; 
}

ul{
list-style: none;
}

h1, h2, h3, h4{
color: white;
}

a{
color: white;
text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase{
  width: 100%;
  height: 93vh;
  position: relative;
  background: url('../media/bck.jpg') no-repeat center/cover;
}

.showcase::after {
content: '';
position: absolute; 
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background: rgba(0, 0, 0, 0.5);
box-shadow: inset 90px 120px 120px #000000,inset -90px -120px 120px #000000;
}

.showcasetop {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcasetop img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.showcasetop a{
  position: absolute;
top: 50%;
right: 0;
transform: translate(-50%,-50%);
}

.showcaseContent {
position: relative;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 7rem;
z-index: 2;
}

.showcaseContent h1{
font-weight: 700;
font-size: 5.2 rem;
line-height: 1.1;
margin: 0 0 2rem;

}

.showcaseContent p{
text-transform: uppercase;
color: #fff;
font-weight: 200;
font-size: 1rem;
line-height: 1.25 ;
margin: 0 0 2rem;

}

/*tabs*/
.tabs{
background:  var(--dark-color);
padding-top: 1rem;
border-bottom: 3px solid #3d3d3d;
}

.tabs .container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
align-items: center;
justify-items: center;
text-align: center;
}

/*container*/

.container{
max-width: 70%;
margin: auto;
overflow: hidden;
padding: 0 2rem;
}

.tabs p{
font-size: 1.2rem;
padding-top: 0.5rem;
}

.tabs .container > div{
padding: 1.5rem ;

}
.tabs .container > div:hover{
color: #fff;
cursor: pointer;

}

.tab-border{
border-bottom: var(--primary-color)4px solid;
}

#tab-1-content .tab-1-content-inner {
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
align-items: center;
justify-content: center;
}

/*Buttons */

.btn{
display: inline-block;
background: var(--primary-color);
color:#fff ;
padding: o.4rem;
font-size: 1rem;
text-align: center;
border: none;
cursor: pointer;
margin-right: 0.5 rem;
outline: none;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
border-radius: 2px;

}

.btn:hover{
opacity: 0.8;
color:black;
}

.btn-rounded{

  border-radius: 5px;
}

.btn-xl{
font-size: 2 rem;
padding: 1.5rem 2.1rem;
text-transform: uppercase;
}


.btn-lg{
  font-size: 1 rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
  }