:root{
  --primary-color:#e50914;
}

*{

   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

body{
font-family: Arial, Helvetica, sans-serif;
-webkit-font-smoothing: antialiased;
background: black; 
color: #999; 
}

ul{
list-style: none;
}

h1, h2, h3, h4{
color: white;
}

a{
color: white;
text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 20%;
}

.showcase{
  width: 100%;
  height: 93vh;
  position: relative;
  background: url('../netflix/media/bck.jpg') no-repeat center/cover;
}
.showcasetop {
  position: relative;
  height: 90px;
}

.showcasetop img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
